﻿@model CookEnjoyHome.Services.Models.Receipt
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="body">
        <section class="content-wrapper main-content">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>@Html.DisplayFor(model => model.Name)</h1>
                        <p>by @(Model.Author == null ? "Unknown" : Model.Author.FullName)</p>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>@Html.LabelFor(model => model.Ingredients)</h4>
                        <ul>
                            @foreach (var item in Model.Ingredients)
                            {
                                <li>
                                    @Html.DisplayTextFor(model => item.Ingredient.Name):
                                    @Html.DisplayTextFor(model => item.Quantity)
                                    (@Html.DisplayTextFor(model => item.Ingredient.Unit))
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <h4>@Html.LabelFor(model => model.Description)</h4>
                        <p>@Html.DisplayTextFor(model => model.Description)</p>
                    </div>
                </div>

                <br />
            </div>
            <div class="container">
                @Html.ActionLink("Back", "Index")
            </div>
            </section>
        </div>
