﻿@model CookEnjoyHome.Services.Models.Receipt
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Receipt</h4>
    <hr />
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.ReceiptID)
    @Html.HiddenFor(model => model.UserID)
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, 5, 20, new { htmlAttributes = new { @class = "md-textarea form-control" } })
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-success" />
        @Html.ActionLink("Back", "Index")
    </div>
</div>
}