﻿
@model IEnumerable<CookEnjoyHome.Services.Models.Receipt>
 
@{
    ViewData["Title"] = "Receipts";
}

<h2>Receipts</h2>

<div id="body">
    <section class="content-wrapper main-content">
        <p>@Html.ActionLink("Create New..", "Create", "Receipts")</p>
        <table id="receipts" class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Name")</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>@Html.ActionLink( item.Name.ToString(), "Details", "Receipts", new { id = item.ReceiptID })</td>
                    <td>@Html.DisplayFor(model => item.Description)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Receipts", new { id = item.ReceiptID }) |
                        @Html.ActionLink("Delete", "Delete", "Receipts", new { id = item.ReceiptID }, new { onclick = "return confirm('Are you sure you wish to delete this receipt?');" })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </section>
</div>

